
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Layout.cshtml";
}

<!-- Start Banner Area
    ============================================= -->
<div class="banner-area banner-style-four navigation-circle overflow-hidden bg-theme text-light bg-cover" style="background-image: url(assets/img/shape/1.jpg);">
    <!-- Slider main container -->
    <div class="banner-fade">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

            <!-- Single Item -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="content">
                        <div class="shape">
                            <img src="/source/assets/img/shape/23.png" alt="Image Not Found">
                            <img src="/source/assets/img/shape/24.png" alt="Image Not Found">
                        </div>
                        <div class="row align-center">
                            <div class="col-lg-6">
                                <h4>Purchase today. just <strong>$65</strong></h4>
                                <h2>Special Offer Cheese Burger</h2>
                                <p>
                                    Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing know.
                                </p>
                                <div class="button mt-40">
                                    <a class="btn btn-theme btn-md animation" href="shop.html">Order Now</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumb">
                                    <img src="/source/assets/img/illustration/3.png" alt="Image Not Found">
                                    <img src="/source/assets/img/shape/22.png" alt="Image Not Found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="content">
                        <div class="shape">
                            <img src="/source/assets/img/shape/23.png" alt="Image Not Found">
                            <img src="/source/assets/img/shape/24.png" alt="Image Not Found">
                        </div>
                        <div class="row align-center">
                            <div class="col-lg-6">
                                <h4>Purchase today. just <strong>$58</strong></h4>
                                <h2>French Break Cheesy Pizza</h2>
                                <p>
                                    Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing know.
                                </p>
                                <div class="button mt-40">
                                    <a class="btn btn-theme btn-md animation" href="shop.html">Order Now</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumb">
                                    <img src="/source/assets/img/illustration/pizza.png" alt="Image Not Found">
                                    <img src="/source/assets/img/shape/22.png" alt="Image Not Found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->

        </div>

        <!-- Navigation -->
        <div class="swiper-nav-left">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</div>
<!-- End Banner -->
<!-- Start Menu
============================================= -->
<div class="menu-style-five-area default-padding bg-cover" style="background-image: url(/source/assets/img/shape/3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="thumb-style-two">
                    <div class="fun-fact-style-two mb-40">
                        <div class="icon">
                            <img src="/source/assets/img/icon/2.png" alt="Image Not Found">
                        </div>
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="500" data-speed="2000">500</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Menu and Dishes</span>
                        </div>
                    </div>
                    <img class="wow fadeInLeft" src="/source/assets/img/thumb/6.jpg" alt="Image Not Found">
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <h4 class="sub-heading">Food Items</h4>
                <h2 class="title split-text">Starters & Main Dishes</h2>
                <div class="food-menu-style-five-items mt-65 wow fadeInUp">

                    <ul class="nav nav-tabs food-menu-five-navs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab_1" data-bs-toggle="tab" data-bs-target="#tabs_1" type="button" role="tab" aria-controls="tabs_1" aria-selected="true">
                                Main Dishes
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab_2" data-bs-toggle="tab" data-bs-target="#tabs_2" type="button" role="tab" aria-controls="tabs_2" aria-selected="false">
                                Desserts
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab_3" data-bs-toggle="tab" data-bs-target="#tabs_3" type="button" role="tab" aria-controls="tabs_3" aria-selected="false">
                                Sea Food
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab_4" data-bs-toggle="tab" data-bs-target="#tabs_4" type="button" role="tab" aria-controls="tabs_4" aria-selected="false">
                                Beverage
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs_1" role="tabpanel" aria-labelledby="tab_1">
                            <ul class="meal-type">
                                <li>Half</li>
                                <li>Full</li>
                            </ul>
                            <ul class="meal-items style-two">
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Chicken Alfredo</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$20</span>
                                                <span>$30</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Ricotta / goat cheese / beetroot
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Fish &amp; Chips</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$36</span>
                                                <span>$55</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Atlantic / chips / salad /tartare
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Ebony Fillet Steak</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$44</span>
                                                <span>$88</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Truffle mash / pepper sauce.
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Chicken Alfredo</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$20</span>
                                                <span>$30</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Ricotta / goat cheese / beetroot
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="tabs_2" role="tabpanel" aria-labelledby="tab_2">
                            <ul class="meal-type">
                                <li>Half</li>
                                <li>Full</li>
                            </ul>
                            <ul class="meal-items style-two">
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Cupcakes</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$10</span>
                                                <span>$20</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Ricotta / goat cheese / beetroot
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Brownies</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$16</span>
                                                <span>$34</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Atlantic / chips / salad /tartare
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Muffins</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$22</span>
                                                <span>$36</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Truffle mash / pepper sauce.
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Cheesecakes</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$34</span>
                                                <span>$66</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Ricotta / goat cheese / beetroot
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="tabs_3" role="tabpanel" aria-labelledby="tab_3">
                            <ul class="meal-type">
                                <li>Half</li>
                                <li>Full</li>
                            </ul>
                            <ul class="meal-items style-two">
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Salmon Fry</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$40</span>
                                                <span>$70</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Ricotta / goat cheese / beetroot
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Pangasius or Basa</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$15</span>
                                                <span>$55</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Atlantic / chips / salad /tartare
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Clams</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$45</span>
                                                <span>$78</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Truffle mash / pepper sauce.
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Red Crab</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$20</span>
                                                <span>$30</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Ricotta / goat cheese / beetroot
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="tabs_4" role="tabpanel" aria-labelledby="tab_4">
                            <ul class="meal-type">
                                <li>Half</li>
                                <li>Full</li>
                            </ul>
                            <ul class="meal-items style-two">
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Wine</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$34</span>
                                                <span>$66</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Ricotta / goat cheese / beetroot
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Coffee</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$45</span>
                                                <span>$80</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Atlantic / chips / salad /tartare
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">Hot chocolate</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$22</span>
                                                <span>$45</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Truffle mash / pepper sauce.
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <div class="top">
                                            <div class="title">
                                                <h4><a href="shop-single.html">CMilk Shake</a></h4>
                                            </div>
                                            <div class="price">
                                                <span>$20</span>
                                                <span>$30</span>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="left">
                                                <p>
                                                    Ricotta / goat cheese / beetroot
                                                </p>
                                            </div>
                                            <div class="right">
                                                <p>
                                                    Extra Free Juice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Menu -->
<!-- Start Feature Style Two
============================================= -->
<div class="feature-style-two-area default-padding bg-dark text-light" style="background-image: url(/source/assets/img/shape/11.png);">
    <div class="light-banner-active bg-dark" style="background-image: url(/source/assets/img/shape/11-dark.png);"></div>
    <div class="shape">
        <img src="/source/assets/img/shape/10.png" alt="Image Not Found">
    </div>
    <div class="container">
        <div class="row">
            <!-- Single item -->
            <div class="col-lg-5 feature-product-item">
                <a class="wow fadeInUp" href="#" style="background-image: url(/source/assets/img/shape/7.jpg);">
                    <div class="info">
                        <h2>Maxican Pizza</h2>
                        <span class="btn circle btn-md btn-light animation">Make an order</span>
                    </div>
                    <div class="thumb">
                        <img src="/source/assets/img/illustration/7.png" alt="Image Not Found">
                        <div class="offer" style="background-image: url(/source/assets/img/shape/12.png);">50% Off </div>
                    </div>
                </a>
            </div>
            <!-- End Single item -->
            <!-- Single item -->
            <div class="col-lg-7 feature-product-item">
                <a class="wow fadeInUp" data-wow-delay="200ms" href="#" style="background-image: url(/source/assets/img/shape/9.jpg);">
                    <div class="info">
                        <h2>Luger Burger</h2>
                        <span class="btn circle btn-md btn-theme animation">Make an order</span>
                    </div>
                    <div class="thumb">
                        <img src="/source/assets/img/illustration/6.png" alt="Image Not Found">
                        <div class="offer" style="background-image: url(/source/assets/img/shape/12.png);">Best Deal</div>
                    </div>
                </a>
                <a class="wow fadeInUp" data-wow-delay="400ms" href="#" style="background-image: url(/source/assets/img/shape/8.jpg);">
                    <div class="info">
                        <h2>Delicious crab</h2>
                        <span class="btn circle btn-md btn-dark animation">Make an order</span>
                    </div>
                    <div class="thumb">
                        <img src="/source/assets/img/illustration/9.png" alt="Image Not Found">
                    </div>
                </a>
            </div>
            <!-- End Single item -->
        </div>
    </div>
</div>
<!-- End Feature Style Two -->
<!-- Start Shop
============================================= -->
@await Component.InvokeAsync("_DefaultProducts")
<!-- End Shop -->
<!-- Start Discount Area
============================================= -->
<div class="discount-area default-padding bg-theme bg-cover text-light overflow-hidden" style="background-image: url(/source/assets/img/shape/15.jpg);">
    <!-- Shape -->
    <div class="wavesshape">
        <img class="regular-img" src="/source/assets/img/shape/16.png" alt="Shape">
        <img class="dark-img" src="/source/assets/img/shape/16-dark-secondary.png" alt="Shape">
    </div>
    <!-- Shape -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="discount-content">
                    <h4>Limited Offer</h4>
                    <h2 style="background-image: url(/source/assets/img/shape/27.png);">Delicious Burger</h2>
                    <p>
                        It is a long established fact that a reader will be distracted lorem the readable content of a page when looking
                    </p>
                    <div class="counter-class" data-date="2025-8-24 23:59:59">
                        <!-- Date Formate Input yyyy-mm-dd hh:mm:ss -->
                        <div class="item-list">
                            <div class="counter-item">
                                <div class="item">
                                    <h5><span class="counter-days"></span> Days</h5>
                                </div>
                            </div>
                            <div class="counter-item">
                                <div class="item">
                                    <h5><span class="counter-hours"></span> Hours</h5>
                                </div>
                            </div>
                            <div class="counter-item">
                                <div class="item">
                                    <h5><span class="counter-minutes"></span> Minutes</h5>
                                </div>
                            </div>
                            <div class="counter-item">
                                <div class="item">
                                    <h5><span class="counter-seconds"></span> Seconds</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="offer-item-thumb">
                    <img src="/source/assets/img/illustration/18.png" alt="Image Not Found">
                    <img src="/source/assets/img/illustration/19.png" alt="Image Not Found">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Discount -->
<!-- Start Chef Area
============================================= -->
<div class="chef-style-one-area default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Professional Chef</h4>
                    <h2 class="title split-text">Meet Our Kitchen Kings</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp">
                    <div class="thumb">
                        <img src="/source/assets/img/team/1.jpg" alt="Image Not Found">
                        <ul class="chef-one-social">
                            <li class="facebook">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Alexander Petllo</a></h4>
                        <span>Assistant Chef</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="100ms">
                    <div class="thumb">
                        <img src="/source/assets/img/team/2.jpg" alt="Image Not Found">
                        <ul class="chef-one-social">
                            <li class="facebook">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Mendia Juxef</a></h4>
                        <span>Burger King</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="200ms">
                    <div class="thumb">
                        <img src="/source/assets/img/team/3.jpg" alt="Image Not Found">
                        <ul class="chef-one-social">
                            <li class="facebook">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Petro William</a></h4>
                        <span>Main Chef</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="300ms">
                    <div class="thumb">
                        <img src="/source/assets/img/team/4.jpg" alt="Image Not Found">
                        <ul class="chef-one-social">
                            <li class="facebook">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Kunnel Jexos</a></h4>
                        <span>Pizza Master</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</div>
<!-- End Chef Area -->
<!-- Start Testimonial
============================================= -->
<div class="testimonial-style-one-area default-padding bg-gray bg-cover text-center" style="background-image: url(/source/assets/img/shape/4.jpg);">
    <!-- Shape -->
    <div class="wavesshape">
        <img class="regular-img" src="/source/assets/img/shape/16.png" alt="Shape">
        <img class="dark-img" src="/source/assets/img/shape/16-dark-secondary.png" alt="Shape">
    </div>
    <!-- Shape -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonial-style-one-carousel swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Single item -->
                        <div class="swiper-slide">
                            <div class="testimonial-style-one">
                                <div class="item">
                                    <div class="content">
                                        <div class="tm-review">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="provider">
                                            <h4>Best Chicken Fry</h4>
                                        </div>
                                        <p>
                                            "Thanks to your web agency team for their professional work. The website they created for my business exceeded my expectations, and my clients have given positive feedback about its design and user-friendliness."
                                        </p>
                                        <div class="tm-proivder-thumb">
                                            <img src="/source/assets/img/food/1.jpg" alt="Image Not Found">
                                            <img src="/source/assets/img/team/10.jpg" alt="Image Not Found">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single item -->
                        <!-- Single item -->
                        <div class="swiper-slide">
                            <div class="testimonial-style-one">
                                <div class="item">
                                    <div class="content">
                                        <div class="tm-review">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="provider">
                                            <h4>This pizza is so good</h4>
                                        </div>
                                        <p>
                                            "Thanks to your web agency team for their professional work. The website they created for my business exceeded my expectations, and my clients have given positive feedback about its design and user-friendliness."
                                        </p>
                                        <div class="tm-proivder-thumb">
                                            <img src="/source/assets/img/food/6.jpg" alt="Image Not Found">
                                            <img src="/source/assets/img/team/11.jpg" alt="Image Not Found">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single item -->
                    </div>

                </div>
                <!-- Navigation -->
                <div class="testimonial-pagination">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Area -->
<!-- Start Food Gallery
============================================= -->
<div class="gallery-style-two-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Food Item</h4>
                    <h2 class="title split-text">Our Restaurant Gallery</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="gallery-content-items">
                <div id="portfolio-grid" class="gallery-items colums-3">

                    <!-- Single Item -->
                    <div class="pf-item wow fadeInUp">
                        <div class="gallery-style-one">
                            <div class="item">
                                <a href="/source/assets/img/portfolio/2.jpg" class="popup-gallery">
                                    <img src="/source/assets/img/portfolio/2.jpg" alt="Image Not Found">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="pf-item wow fadeInUp">
                        <div class="gallery-style-one">
                            <div class="item">
                                <a href="/source/assets/img/portfolio/1.jpg" class="popup-gallery">
                                    <img src="/source/assets/img/portfolio/1.jpg" alt="Image Not Found">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="pf-item wow fadeInUp">
                        <div class="gallery-style-one">
                            <div class="item">
                                <a href="/source/assets/img/portfolio/5.jpg" class="popup-gallery">
                                    <img src="/source/assets/img/portfolio/5.jpg" alt="Image Not Found">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="pf-item wow fadeInUp">
                        <div class="gallery-style-one">
                            <div class="item">
                                <a href="/source/assets/img/portfolio/6.jpg" class="popup-gallery">
                                    <img src="/source/assets/img/portfolio/6.jpg" alt="Image Not Found">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="pf-item wow fadeInUp">
                        <div class="gallery-style-one">
                            <div class="item">
                                <a href="/source/assets/img/portfolio/3.jpg" class="popup-gallery">
                                    <img src="/source/assets/img/portfolio/3.jpg" alt="Image Not Found">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Food Gallery -->
<!-- Start Brand
============================================= -->
<div class="brand-area overflow-hidden default-padding bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-heaidng text-center mb-50">
                    <h3>GLOBAL 5K+ HAPPY SPONSORS WITH US </h3>
                </div>
                <div class="brand-style-one-carousel swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <img src="/source/assets/img/brand/1.png" alt="Thumb">
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <img src="/source/assets/img/brand/2.png" alt="Thumb">
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <img src="/source/assets/img/brand/3.png" alt="Thumb">
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <img src="/source/assets/img/brand/4.png" alt="Thumb">
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <img src="/source/assets/img/brand/5.png" alt="Thumb">
                        </div>
                        <!-- End Single Item -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brand -->
<!-- Start Blog
============================================= -->
<div class="blog-area home-blog default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">News & Blog</h4>
                    <h2 class="title split-text">Our Latest News & Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Item -->
            <div class="col-xl-4 col-md-6 mb-30">
                <div class="home-blog-style-one-item wow fadeInUp">
                    <div class="thumb">
                        <img src="/source/assets/img/blog/1.jpg" alt="Image not Found">
                        <ul class="blog-meta">
                            <li>
                                <a href="#">Burger</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h4 class="post-title">
                                <a href="blog-single-with-sidebar.html">Announcing if attachment resolution sentiments at the projection.</a>
                            </h4>
                            <ul class="meta-tags">
                                <li>18 March, 2024</li>
                                <li><a href="#">Md Sohag</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-xl-4 col-md-6 mb-30">
                <div class="home-blog-style-one-item wow fadeInUp" data-wow-delay="200ms">
                    <div class="thumb">
                        <img src="/source/assets/img/blog/2.jpg" alt="Image not Found">
                        <ul class="blog-meta">
                            <li>
                                <a href="#">Food</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h4 class="post-title">
                                <a href="blog-single-with-sidebar.html">This prefabricated passive are comfortable highly sustainable</a>
                            </h4>
                            <ul class="meta-tags">
                                <li>25 April, 2024</li>
                                <li><a href="#">Md Sohag</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-xl-4 col-md-6 mb-30">
                <div class="home-blog-style-one-item wow fadeInUp" data-wow-delay="400ms">
                    <div class="thumb">
                        <img src="/source/assets/img/blog/4.jpg" alt="Image not Found">
                        <ul class="blog-meta">
                            <li>
                                <a href="#">Pizza</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h4 class="post-title">
                                <a href="blog-single-with-sidebar.html">Minuter him own clothes but observe country at the maintaining.</a>
                            </h4>
                            <ul class="meta-tags">
                                <li>15 June, 2024</li>
                                <li><a href="#">Md Sohag</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</div>
<!-- End Blog -->

