<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lezzet Mutfağı - Fast Food & Restaurant">

    <!-- ========== Page Title ========== -->
    <title>Lezzet Mutfağı</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="~/source/assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="~/source/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/source/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/source/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="~/source/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="~/source/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/source/assets/css/animate.min.css" rel="stylesheet">
    <link href="~/source/assets/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link href="~/source/assets/css/validnavs.css" rel="stylesheet">
    <link href="~/source/assets/css/helper.css" rel="stylesheet">
    <link href="~/source/assets/css/unit-test.css" rel="stylesheet">
    <link href="~/source/assets/css/shop.css" rel="stylesheet">
    <link href="~/source/assets/css/style.css" rel="stylesheet">
    <link href="~/source/style.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->

</head>

<body>

    <!-- Start Preloader -->
    <div id="preloader">
        <div id="restan-preloader" class="restan-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Header -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav navbar-box navbar-default validnavs navbar-sticky">

            <div class="container nav-box d-flex justify-content-between align-items-center">            

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/Default/Index">
                        <img src="~/source/assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">

                    <img src="~/source/assets/img/logo.png" alt="Logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-times"></i>
                    </button>
                    
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li>
                            <a href="/Default/Index">Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="/About/Index">Hakkımızda</a>
                        </li>
                        <li>
                             <a href="/Product/Index">Menü</a>
                        </li>
                        <li>
                            <a href="/Services/Index">Hizmetler</a>
                        </li>
                        <li>
                            <a href="/Contact/Index">İletişim</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->

                <div class="attr-right">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav attr-box">
                        <ul>
                            <li class="side-menu">
                                <a href="#">
                                    <span class="bar-1"></span>
                                    <span class="bar-2"></span>
                                    <span class="bar-3"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                </div>

                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fas fa-times"></i></a>
                    <div class="widget">
                        <div class="logo">
                            <img src="~/source/assets/img/logo-light-2.png" alt="Logo">
                        </div>
                        <p>
                            Lezzet durağına hoş geldiniz.
                        </p>
                    </div>
                    <div class="widget address">
                        <div>
                            <ul>
                                <li>
                                    <div class="content">
                                        <p>Address</p> 
                                        <strong>İstanbul, Türkiye</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <p>Contact</p> 
                                        <strong>+90 555 555 55 55</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget social">
                        <ul class="link">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>

                </div>
                <!-- End Side Menu -->

            </div>   
            <!-- Overlay screen for menu -->
            <div class="overlay-screen"></div>
            <!-- End Overlay screen for menu -->

        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->

    @RenderBody()

    <!-- Start Footer -->
    <footer class="bg-dark footer-style-one text-light">
        <div class="container">
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <p>
                            &copy; Copyright 2026 Lezzet Mutfağı. All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Footer Bottom -->
        </div>
    </footer>
    <!-- End Footer -->
    
    <!-- jQuery Frameworks -->
    <script src="~/source/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/source/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/source/assets/js/jquery.appear.js"></script>
    <script src="~/source/assets/js/swiper-bundle.min.js"></script>
    <script src="~/source/assets/js/progress-bar.min.js"></script>
    <script src="~/source/assets/js/wow.min.js"></script>
    <script src="~/source/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/source/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/source/assets/js/magnific-popup.min.js"></script>
    <script src="~/source/assets/js/count-to.js"></script>
    <script src="~/source/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/source/assets/js/YTPlayer.min.js"></script>
    <script src="~/source/assets/js/loopcounter.js"></script>
    <script src="~/source/assets/js/validnavs.js"></script>
    <script src="~/source/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/source/assets/js/gsap.js"></script>
    <script src="~/source/assets/js/ScrollTrigger.min.js"></script>
    <script src="~/source/assets/js/SplitText.min.js"></script>
    <script src="~/source/assets/js/main.js"></script>

</body>
</html>
