
@model List<ResultCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Index</h1>

<table class="table table-hover">
    <tr> 
        <th>#</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>   

    @foreach (var item in Model)
    {
        count++;

        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>
                <a href="/Category/DeleteCategory/@item.Id"
                onclick="return confirm('Bu öğeyi silmek istediğinize emin misiniz?')"
                class="btn btn-outline-danger">Sil</a>
                <a href="/Category/UpdateCategory/@item.Id" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }


</table>
<a href="/Category/CreateCategory" class="btn btn-outline-dark">Yeni Kategory Oluştur</a>











