<!-- Start Reservation 
============================================= -->
<div class="reservation-area default-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Rezervasyon</h4>
                    <h2 class="title">Yer Ayırtın</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" id="name" name="name" placeholder="Adınız" type="text">
                                <span class="alert-error"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" id="email" name="email" placeholder="E-posta" type="email">
                                <span class="alert-error"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" id="phone" name="phone" placeholder="Telefon" type="text">
                                <span class="alert-error"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                             <div class="form-group">
                                <select class="form-control">
                                    <option>Kişi Sayısı</option>
                                    <option>1 Kişi</option>
                                    <option>2 Kişi</option>
                                    <option>3 Kişi</option>
                                    <option>4+ Kişi</option>
                                </select>
                            </div>
                        </div>
                         <div class="col-lg-12">
                            <div class="form-group">
                                <input class="form-control" id="date" name="date" placeholder="Tarih" type="date">
                                <span class="alert-error"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" name="submit" id="submit">
                                Rezervasyon Yap
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Reservation -->
