@{
    ViewData["Title"] = "Menü";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- Start Menu 
============================================= -->
<div class="food-menu-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Menümüz</h4>
                    <h2 class="title">Lezzetli Seçenekler</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Menu items will be listed here dynamically later -->
            <p class="text-center">Menü ürünleri yakında eklenecektir.</p>
        </div>
    </div>
</div>
<!-- End Menu -->
