
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lezzet Mutfağı - Restoran & Kafe">

    <!-- ========== Page Title ========== -->
    <title>Lezzet Mutfağı - Restoran & Kafe</title>

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="/source/assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/source/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/source/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/source/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="/source/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/source/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/source/assets/css/animate.min.css" rel="stylesheet">
    <link href="/source/assets/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link href="/source/assets/css/validnavs.css" rel="stylesheet">
    <link href="/source/assets/css/helper.css" rel="stylesheet">
    <link href="/source/assets/css/unit-test.css" rel="stylesheet">
    <link href="/source/assets/css/shop.css" rel="stylesheet">
    <link href="/source/assets/css/style.css" rel="stylesheet">
    <link href="/source/style.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->
    <!--[if lte IE 9]>
        <p class="browserupgrade">Eski bir tarayıcı kullanıyorsunuz. Lütfen <a href="https://browsehappy.com/">tarayıcınızı güncelleyin</a>.</p>
    <![endif]-->

</head>

<body>

    <div class="radio-btn-light">
        <div class="radio-inner-light"></div>
    </div>

    <!-- Start Preloader
    ============================================= -->
    <div id="preloader">
        <div id="restan-preloader" class="restan-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header
    ============================================= -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav navbar-box navbar-default validnavs navbar-sticky">

            <!-- Start Top Search -->
            <div class="top-search">
                <div class="container-xl">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Ara">
                        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->


            <div class="container nav-box d-flex justify-content-between align-items-center">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/Default/Index">
                        <h2 class="mb-0" style="font-weight: 800; letter-spacing: -1px; color: #fff;"><span style="color: #adb5bd;">LEZZET</span> <span class="text-primary">MUTFAĞI</span></h2>
                    </a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-times"></i>
                    </button>

                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li>
                            <a href="/Default/Index">Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="/About/Index">Hakkımızda</a>
                        </li>
                        <li>
                            <a href="/Product/Index">Menü</a>
                        </li>
                        <li>
                            <a href="/Contact/Index">İletişim</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->

                <div class="attr-right">
                    <!-- Start Atribute Navigation -->
                    @await Component.InvokeAsync("LayoutBasket")
                    <!-- End Atribute Navigation -->
                </div>

                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fas fa-times"></i></a>
                    <div class="widget">
                        <div class="logo">
                            <h2 style="font-weight: 800; color: #fff;"><span style="color: #adb5bd;">LEZZET</span> <span class="text-primary">MUTFAĞI</span></h2>
                        </div>
                        <p>
                            En lezzetli yemekleri, en taze malzemelerle hazırlayıp sizlere sunuyoruz. Lezzet dolu anlar için bizi tercih edin.
                        </p>
                    </div>
                    <div class="widget address">
                        <div>
                            <ul>
                                <li>
                                    <div class="content">
                                        <p>Adres</p>
                                        <strong>İstanbul, Türkiye</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <p>Email</p>
                                        <strong>info@lezzetmutfagi.com</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <p>Telefon</p>
                                        <strong>+90 212 123 45 67</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget newsletter">
                        <h4 class="title">Abone Olun!</h4>
                        <form action="/Default/Subscribe" method="post">
                            <div class="input-group stylish-input-group">
                                <input type="email" placeholder="E-posta adresinizi girin" class="form-control" name="Email">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="widget social">
                        <ul class="link">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>

                </div>
                <!-- End Side Menu -->

            </div>
            <!-- Overlay screen for menu -->
            <div class="overlay-screen"></div>
            <!-- End Overlay screen for menu -->

        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->
    @RenderBody()
    <!-- Start Footer
    ============================================= -->
    <footer class="bg-dark footer-style-one text-light">
        <div class="container">
            <div class="row">
                <!-- Singel Item -->
                <div class="col-lg-3 col-md-6 footer-item mt-50">
                    <div class="f-item about">
                        <h2 class="mb-4" style="font-weight: 800; color: #fff;"><span style="color: #adb5bd;">LEZZET</span> <span class="text-primary">MUTFAĞI</span></h2>
                        <p>
                            Yemek cennetimizde mutfak lezzetlerini, tarifleri ve ilhamı keşfedin.
                        </p>
                        <ul class="opening-list">
                            <li>
                                Pzt - Cum <span class="text-end">08:00 - 18:00</span>
                            </li>
                            <li>
                                Cumartesi <span class="text-end">09:00 - 17:00</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->
                <!-- Singel Item -->
                <div class="col-lg-2 col-md-6 mt-50 footer-item pl-50 pl-md-15 pl-xs-15">
                    <div class="f-item link">
                        <h4 class="widget-title">Keşfet</h4>
                        <ul>
                            <li>
                                <a href="/About/Index">Hakkımızda</a>
                            </li>
                            <li>
                                <a href="#">Ekibimiz</a>
                            </li>
                            <li>
                                <a href="#">Yardım Merkezi</a>
                            </li>
                            <li>
                                <a href="#">Kariyer</a>
                            </li>
                            <li>
                                <a href="#">Özellikler</a>
                            </li>
                            <li>
                                <a href="/Contact/Index">İletişim</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->
                <!-- Singel Item -->
                <div class="col-lg-3 col-md-6 footer-item  mt-50">
                    <div class="f-item contact">
                        <h4 class="widget-title">İletişim Bilgileri</h4>
                        <ul class="contact-widget">
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="content">
                                    İstanbul, Türkiye
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="content">
                                    <a href="tel:+902121234567">+90 212 123 45 67</a>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <a href="mailto:info@lezzetmutfagi.com">info@lezzetmutfagi.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->
                <!-- Singel Item -->
                <div class="col-lg-4 col-md-6 footer-item mt-50">
                    <div class="f-item newsletter">
                        <h4 class="widget-title">Bülten</h4>
                        <p>
                            En son haberleri ve özel teklifleri almak için abone listemize katılın.
                        </p>
                        <form action="/Default/Subscribe" method="post">
                            <div class="input-group stylish-input-group">
                                <input type="email" placeholder="E-posta adresinizi girin" class="form-control" name="Email">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                        <div class="footer-socila-items mt-30">
                            <h4>Sosyal Medya: </h4>
                            <ul class="footer-social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Singel Item -->


            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <p>
                            © Telif Hakkı 2026 Lezzet Mutfağı. Tüm Hakları Saklıdır.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Footer Bottom -->
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jQuery Frameworks
    ============================================= -->
    <script src="/source/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/source/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/source/assets/js/jquery.appear.js"></script>
    <script src="/source/assets/js/swiper-bundle.min.js"></script>
    <script src="/source/assets/js/progress-bar.min.js"></script>
    <script src="/source/assets/js/wow.min.js"></script>
    <script src="/source/assets/js/isotope.pkgd.min.js"></script>
    <script src="/source/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/source/assets/js/magnific-popup.min.js"></script>
    <script src="/source/assets/js/count-to.js"></script>
    <script src="/source/assets/js/jquery.nice-select.min.js"></script>
    <script src="/source/assets/js/YTPlayer.min.js"></script>
    <script src="/source/assets/js/loopcounter.js"></script>
    <script src="/source/assets/js/validnavs.js"></script>
    <script src="/source/assets/js/bootstrap-datepicker.js"></script>
    <script src="/source/assets/js/gsap.js"></script>
    <script src="/source/assets/js/ScrollTrigger.min.js"></script>
    <script src="/source/assets/js/SplitText.min.js"></script>
    <script src="/source/assets/js/main.js"></script>

</body>
</html>
