
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foodu - Food & Restaurant HTML Template ">

    <!-- ========== Page Title ========== -->
    <title>Foodu - Food & Restaurant HTML Template </title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/source/assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/source/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/source/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/source/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="/source/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/source/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/source/assets/css/animate.min.css" rel="stylesheet">
    <link href="/source/assets/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link href="/source/assets/css/validnavs.css" rel="stylesheet">
    <link href="/source/assets/css/helper.css" rel="stylesheet">
    <link href="/source/assets/css/unit-test.css" rel="stylesheet">
    <link href="/source/assets/css/shop.css" rel="stylesheet">
    <link href="/source/assets/css/style.css" rel="stylesheet">
    <link href="/source/style.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

</head>

<body>

    <div class="radio-btn-light">
        <div class="radio-inner-light"></div>
    </div>

    <!-- Start Preloader
    ============================================= -->
    <div id="preloader">
        <div id="restan-preloader" class="restan-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header
    ============================================= -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav navbar-box navbar-default validnavs navbar-sticky">

            <!-- Start Top Search -->
            <div class="top-search">
                <div class="container-xl">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->


            <div class="container nav-box d-flex justify-content-between align-items-center">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="/source/assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">

                    <img src="/source/assets/img/logo.png" alt="Logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-times"></i>
                    </button>

                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home Version One</a></li>
                                <li><a href="index-2.html">Home Version Two</a></li>
                                <li><a href="index-3.html">Home Version Three</a></li>
                                <li><a href="index-4.html">Home Version Four</a></li>
                                <li><a href="index-5.html">Home Version Five</a></li>
                                <li><a href="index-6.html">Home Version Six</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle dark" data-toggle="dropdown">Dark Version</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="index-dark.html">Home Version One</a></li>
                                        <li><a href="index-dark-2.html">Home Version Two</a></li>
                                        <li><a href="index-dark-3.html">Home Version Three</a></li>
                                        <li><a href="index-dark-4.html">Home Version Four</a></li>
                                        <li><a href="index-dark-5.html">Home Version Five</a></li>
                                        <li><a href="index-dark-6.html">Home Version Six</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Chef</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="chef.html">Chef Style One</a></li>
                                        <li><a href="chef-details.html">Chef Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="reservation.html">Reservation</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="404.html">Error Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu</a>
                            <ul class="dropdown-menu">
                                <li><a href="food-menu.html">Menu Style One</a></li>
                                <li><a href="food-menu-2.html">Menu Style Two</a></li>
                                <li><a href="food-menu-3.html">Menu Style Three</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-standard.html">Blog Standard</a></li>
                                <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                <li><a href="blog-2-colum.html">Blog Grid Two Colum</a></li>
                                <li><a href="blog-3-colum.html">Blog Grid Three Colum</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                                <li><a href="blog-single-with-sidebar.html">Blog Single With Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-single.html">Shop Single</a></li>
                                <li><a href="shop-single-thumb-only.html">Shop Single Two</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->

                <div class="attr-right">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav attr-box">
                        <ul>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="far fa-shopping-cart"></i>
                                    <span class="badge">3</span>
                                </a>
                                <ul class="dropdown-menu cart-list">
                                    <li>
                                        <div class="thumb">
                                            <a href="#" class="photo">
                                                <img src="/source/assets/img/shop/1.png" alt="Thumb">
                                            </a>
                                            <a href="#" class="remove-product">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </div>
                                        <div class="info">
                                            <h6><a href="#">Delica omtantur </a></h6>
                                            <p>2x - <span class="price">$99.99</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#" class="photo">
                                                <img src="/source/assets/img/shop/2.png" alt="Thumb">
                                            </a>
                                            <a href="#" class="remove-product">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </div>
                                        <div class="info">
                                            <h6><a href="#">Omnes ocurreret</a></h6>
                                            <p>1x - <span class="price">$33.33</span></p>
                                        </div>
                                    </li>
                                    <li class="total">
                                        <span class="pull-right"><strong>Total</strong>: $0.00</span>
                                        <a href="#" class="btn btn-default btn-cart">Cart</a>
                                        <a href="#" class="btn btn-default btn-cart">Checkout</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="side-menu">
                                <a href="#">
                                    <span class="bar-1"></span>
                                    <span class="bar-2"></span>
                                    <span class="bar-3"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                </div>

                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fas fa-times"></i></a>
                    <div class="widget">
                        <div class="logo">
                            <img src="/source/assets/img/logo-light-2.png" alt="Logo">
                        </div>
                        <p>
                            Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                        </p>
                    </div>
                    <div class="widget address">
                        <div>
                            <ul>
                                <li>
                                    <div class="content">
                                        <p>Address</p>
                                        <strong>California, TX 70240</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <p>Email</p>
                                        <strong>support@validtheme.com</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <p>Contact</p>
                                        <strong>+44-20-7328-4499</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget newsletter">
                        <h4 class="title">Get Subscribed!</h4>
                        <form action="#">
                            <div class="input-group stylish-input-group">
                                <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="widget social">
                        <ul class="link">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>

                </div>
                <!-- End Side Menu -->

            </div>
            <!-- Overlay screen for menu -->
            <div class="overlay-screen"></div>
            <!-- End Overlay screen for menu -->

        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->
    @RenderBody()
    <!-- Start Footer
    ============================================= -->
    <footer class="bg-dark footer-style-one text-light">
        <div class="container">
            <div class="row">
                <!-- Singel Item -->
                <div class="col-lg-3 col-md-6 footer-item mt-50">
                    <div class="f-item about">
                        <img src="/source/assets/img/logo-3.png" alt="Image Not Found">
                        <p>
                            Discover culinary delights recipes and inspiration in our food haven.
                        </p>
                        <ul class="opening-list">
                            <li>
                                Mon  -  Fri <span class="text-end">8:00 AM  -  6:00 PM</span>
                            </li>
                            <li>
                                Saturday <span class="text-end">9:00 AM  -  5:00 PM</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->
                <!-- Singel Item -->
                <div class="col-lg-2 col-md-6 mt-50 footer-item pl-50 pl-md-15 pl-xs-15">
                    <div class="f-item link">
                        <h4 class="widget-title">Explore</h4>
                        <ul>
                            <li>
                                <a href="about-us.html">Compnay Profile</a>
                            </li>
                            <li>
                                <a href="about-us.html">About</a>
                            </li>
                            <li>
                                <a href="contact-us.html">Help Center</a>
                            </li>
                            <li>
                                <a href="contact-us.html">Career</a>
                            </li>
                            <li>
                                <a href="about-us.html">Features</a>
                            </li>
                            <li>
                                <a href="contact-us.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->
                <!-- Singel Item -->
                <div class="col-lg-3 col-md-6 footer-item  mt-50">
                    <div class="f-item contact">
                        <h4 class="widget-title">Contact Info</h4>
                        <ul class="contact-widget">
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="content">
                                    175 10h Street, Office 375 Berlin, De 21562
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="content">
                                    <a href="tel:2151234567">+123 34598768</a> <br> <a href="tel:2151234567">+554 34598734</a>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <a href="mailto:name@email.com">food@restan.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->
                <!-- Singel Item -->
                <div class="col-lg-4 col-md-6 footer-item mt-50">
                    <div class="f-item newsletter">
                        <h4 class="widget-title">Newsletter</h4>
                        <p>
                            Join our subscribers list to get the latest news and special offers.
                        </p>
                        <form action="#">
                            <input type="email" placeholder="Your Email" class="form-control" name="email">
                            <button type="submit"> Subscribe <i class="fas fa-long-arrow-right"></i></button>
                        </form>
                        <div class="footer-socila-items mt-30">
                            <h4>Social Meida: </h4>
                            <ul class="footer-social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Singel Item -->


            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <p>
                            © Copyright 2025 Foodu. All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Footer Bottom -->
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jQuery Frameworks
    ============================================= -->
    <script src="/source/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/source/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/source/assets/js/jquery.appear.js"></script>
    <script src="/source/assets/js/swiper-bundle.min.js"></script>
    <script src="/source/assets/js/progress-bar.min.js"></script>
    <script src="/source/assets/js/wow.min.js"></script>
    <script src="/source/assets/js/isotope.pkgd.min.js"></script>
    <script src="/source/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/source/assets/js/magnific-popup.min.js"></script>
    <script src="/source/assets/js/count-to.js"></script>
    <script src="/source/assets/js/jquery.nice-select.min.js"></script>
    <script src="/source/assets/js/YTPlayer.min.js"></script>
    <script src="/source/assets/js/loopcounter.js"></script>
    <script src="/source/assets/js/validnavs.js"></script>
    <script src="/source/assets/js/bootstrap-datepicker.js"></script>
    <script src="/source/assets/js/gsap.js"></script>
    <script src="/source/assets/js/ScrollTrigger.min.js"></script>
    <script src="/source/assets/js/SplitText.min.js"></script>
    <script src="/source/assets/js/main.js"></script>

</body>
</html>
