<!-- Start Brand 
============================================= -->
<div class="brand-area overflow-hidden default-padding bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-heaidng text-center mb-50">
                    <h3>5000+ MUTLU MÜŞTERİ & SPONSOR</h3>
                </div>
                <div class="brand-style-one-carousel swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <img src="~/source/assets/img/brand/1.png" alt="Thumb">
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <img src="~/source/assets/img/brand/2.png" alt="Thumb">
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <img src="~/source/assets/img/brand/3.png" alt="Thumb">
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <img src="~/source/assets/img/brand/4.png" alt="Thumb">
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="swiper-slide">
                            <img src="~/source/assets/img/brand/5.png" alt="Thumb">
                        </div>
                        <!-- End Single Item -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brand -->
