
@{
    ViewData["Title"] = "Ödeme";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="checkout-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="site-heading text-center">
                    <h2 class="title">Ödeme Sayfası</h2>
                    <p>Siparişinizi tamamlamak için lütfen ödeme işlemini gerçekleştirin.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="alert alert-success text-center">
                    <h4>Siparişiniz Alındı!</h4>
                    <p>Ödeme işlemi simüle edilmiştir. Teşekkür ederiz.</p>
                    <a href="/Default/Index" class="btn btn-theme effect btn-md mt-20">Ana Sayfaya Dön</a>
                </div>
            </div>
        </div>
    </div>
</div>
