@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- Start About 
============================================= -->
<div class="about-style-one-area default-padding">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6">
                <div class="about-style-one-thumb">
                    <img src="~/source/assets/img/about/1.jpg" alt="Image Not Found">
                    <div class="fun-fact">
                        <div class="counter">
                            <div class="timer" data-to="50" data-speed="2000">50</div>
                            <div class="operator">+</div>
                        </div>
                        <span class="medium">Yıllık Deneyim</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-style-one-info">
                    <h4 class="sub-title">Hakkımızda</h4>
                    <h2 class="title">Lezzetin Adresi</h2>
                    <p>
                        Yıllardır süren lezzet yolculuğumuzda, en taze malzemelerle hazırladığımız özel tariflerimizi sizlerle buluşturuyoruz. Müşteri memnuniyeti odaklı hizmet anlayışımızla, her damak tadına uygun seçenekler sunuyoruz.
                    </p>
                    <ul class="list-item">
                        <li>Taze ve Doğal Ürünler</li>
                        <li>Profesyonel Şefler</li>
                        <li>Hızlı Servis</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->
