@{
    ViewData["Title"] = "Hizmetler";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- Start Services 
============================================= -->
<div class="services-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Hizmetlerimiz</h4>
                    <h2 class="title">Size Özel Hizmetler</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="service-item">
                    <h4>Paket Servis</h4>
                    <p>Hızlı ve sıcak teslimat.</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 mb-30">
                <div class="service-item">
                    <h4>Rezervasyon</h4>
                    <p>Özel günleriniz için yer ayırtın.</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 mb-30">
                <div class="service-item">
                    <h4>Catering</h4>
                    <p>Davetleriniz için özel menüler.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
