<!-- Start Discount Area 
============================================= -->
<div class="discount-area default-padding bg-theme bg-cover text-light overflow-hidden" style="background-image: url(/source/assets/img/shape/15.jpg);">
    <!-- Shape -->
    <div class="wavesshape">
        <img class="regular-img" src="~/source/assets/img/shape/16.png" alt="Shape">
        <img class="dark-img" src="~/source/assets/img/shape/16-dark-secondary.png" alt="Shape">
    </div>
    <!-- Shape -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="discount-content">
                    <h4>Sınırlı Süre!</h4>
                    <h2 style="background-image: url(/source/assets/img/shape/27.png);">Lezzetli Burgerler</h2>
                    <p>
                        Bu fırsatı kaçırmayın. En lezzetli burgerler şimdi indirimde.
                    </p>
                    <div class="counter-class" data-date="2025-12-31 23:59:59"><!-- Date Formate Input yyyy-mm-dd hh:mm:ss -->
                        <div class="item-list">
                            <div class="counter-item">
                                <div class="item">
                                    <h5><span class="counter-days"></span> Gün</h5>
                                </div>
                            </div>
                            <div class="counter-item">
                                <div class="item">
                                    <h5><span class="counter-hours"></span> Saat</h5>
                                </div>
                            </div>
                            <div class="counter-item">
                                <div class="item">
                                    <h5><span class="counter-minutes"></span> Dakika</h5>
                                </div>
                            </div>
                            <div class="counter-item">
                                <div class="item">
                                    <h5><span class="counter-seconds"></span> Saniye</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="offer-item-thumb">
                    <img src="~/source/assets/img/illustration/18.png" alt="Image Not Found">
                    <img src="~/source/assets/img/illustration/19.png" alt="Image Not Found">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Discount -->
